<div class="shout col-6">
  <div class="shout-title">
    <%= avatar shout.user %>
    <%= link_to shout.username, shout.user %>

    <%= link_to shout do %>
      <%= time_ago_in_words(shout.created_at) %> ago
    <% end %>
  </div>
  <!-- /.shout-title -->
  <div class="shout-body">
    <%= render shout.content %>
  </div>
  <!-- /.shout-body -->
  <%= like_button shout %>
</div>