<div class="text-field">
  <%= form.label :email %>
  <%= form.email_field :email, class: "form-control col-6"%>
</div>

<div class="text-field">
  <%= form.label :username %>
  <%= form.text_field :username, class: "form-control col-6"%>
</div>

<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password, class: "form-control col-6" %>
</div>
