<section class="user">
  <%= avatar @user %>
  <h1><%= @user.username %></h1>
  <%= follow_button @user %>
  <p class="mt-2"><%= link_to "Followers", user_followers_path(@user), class: "ml-5" %></p>
  <h2>Shouts:</h2>
  <div class="row">
    <%= render @timeline %>
  </div>
</section>