<h1> <%= @user.username %>'s Followers</h1>

<ol>
  <% @followers.each do |follower| %>
    <li class="mb-2">
      <%= link_to follower do %>
        <%= avatar(follower) %>
        <%= follower.username %>
      <% end %>
    </li>
  <% end %>
</ol>

<%= will_paginate @followers %>
