<div id="clearance" class="password-reset">
  <h2><%= t(".title") %></h2>

  <p><%= t(".description") %></p>

  <%= form_for :password,
               url: passwords_path,
               html: { class: "form-group" } do |form| %>
    <div class="text-field">
      <%= form.label :email %>
      <%= form.text_field :email,
                          placeholder: "email",
                          type: 'email',
                          class: "form-control col-6" %>
    </div>

    <div class="submit-field">
      <%= form.submit class: "btn btn-primary mt-2 mb-2" %>
    </div>
  <% end %>
</div>
