<section class="dashboard">
  <h1>Dashboard</h1>

  <div class="text-shout">
    <%= shout_form_for(TextShout) do |form| %>
      <div class="col-3">
        <%= form.text_field :body, placeholder: "shout here", required: true, class: "txt-field form-control" %>
      </div>
    <% end %>
  </div>
  <!-- /.text-shout -->

  <div class="photo-shout">
    <%= shout_form_for(PhotoShout) do |form| %>
      <div class="custom-file col-3">
        <%= form.file_field :image, required: true, class: "custom-file-input" %>
        <%= form.label :image, class: "custom-file-label" %>
      </div>
    <% end %>
  </div>
  <!-- /.photo-shout -->

  <div class="row">
    <%= render @dashboard.timeline %>
  </div>
  <!-- /.timelines -->
</section>